{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href="{% static "css/home.css" %}" rel="stylesheet">
  <link href="css/hover.css" rel="stylesheet" media="all">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<title>Home</title>
</head>

<body>

    <div class="container">
       <h1><div class="row"></h1>
          <div class="span12">

                <nav class="navbar navbar-default">
                              <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                  </button>
                                  <a class="navbar-brand" href="#"><strong>Xmas <em>Letters</em></strong></a>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                  <ul class="nav navbar-nav">
                                    <li><a href="http://localhost:8000/makeletter">Make one</a></li>
                                    <li class="dropdown">
                                      <a href="http://localhost:8000/worldletters" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">World Letters <span class="caret"></span></a>
                                      <ul class="dropdown-menu">
                                        <li><a href="http://localhost:8000/worldletters">Check randomn letters from the world</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="http://localhost:8000/worldletters">Find your letter</a></li>
                                        <!-- deberiamos colocar un metodo que nos permita tanto buscar cartas randomn, como buscar cartas por medio de una key, nombre o mail -->
                                      </ul>
                                    </li>
                                  </ul>
                                  <form class="navbar-form navbar-rigth" role="search">
                                    <div class="form-group">
                                      <input type="text" class="form-control" placeholder="Search for toys">
                                    </div>
                                    <button type="submit" class="btn btn-default">Find them all!!!</button>
                                  </form>
                                  
                                </div><!-- /.navbar-collapse -->
                              </div><!-- /.container-fluid -->
                </nav>  

            </div>
        </div>
    </div>

    <div class="container">
            <div class="jumbotron">
              <h1>Stay in touch with Santa :)</h1>
              <p>Aqui se responde el que y el como ademas deveriamos agregar una buena historia que haga a los usarios sentir empatia con la aplicación, hacerlos pensar que les sera útil. </p>
              

              <p><a class="btn btn-primary btn-lg hvr-grow-rotate"  href="http://localhost:8000/makeletter" role="button">Write your letter!</a></p>
            </div>
    </div>
</body>

</html>